body {
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	padding: 50px;
	margin-top: 0;
}

.hide {
	display: none;
}

#mask {
	color: white;
	background-color: black;
	opacity: .9;
	position:absolute;
	width: 100%;
	height: 100%;
}

.game {
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}

#gameInfoContainer {
	vertical-align: top;
	background-color: cornflowerblue;
	width: 100px;
	height: inherit;
	display: inline-block;
	border: 4px double black;

}

.gameContainer {
	background-color: grey;
	width: 200px;
	height: inherit;
	display: inline-block;
	border: 4px double black;
}

#preview {
	width: 50px;
	height: 50px;
	background-color: white;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 25%;
	border: 1px solid black;
}

.gameStats {
	margin-top: 75%;
}

table {
	background-color: white;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

tr {
	width: 100%;
	height: 10px;
}

td {
	width: 10px;
	border: 1px solid #e9e9e9;
}

.red {
	background-color: red;
}